* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body { 
  display: flex;
  flex-wrap: wrap;

  height: 100vh;

  font-family: Georgia, 'Times New Roman', Times, serif;
}

@font-face {
  font-family: norse;
  src: url('extras/Norse-Bold.otf'); 
}

.left-side {
  display: flex;
  flex-direction: column;
  flex: 1 1 40%;
  
  min-width: 30vmax;
  position: relative;

  background: url(/extras/halie-west-trees.jpg);
  background-size: cover;
  background-position: center;
}

.logo-banner {
  height: 10rem;
  position: absolute;
  top: 15vmin;
  width: 100%;

  font-family: norse;
  font-size: max(10vw);
  color: whitesmoke;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 45, 0, 0.85);
}

.left-side-footer {
  margin-top: auto;
  padding: 1rem;
  
  text-align: center;
  color: whitesmoke;

  background-color: rgba(0, 45, 0, 0.85);
}

.footer-link {
  color: whitesmoke;
}

.footer-link:visited {
  color: whitesmoke;
}

.logo {
  height: 9rem;
  padding-left: .5rem;
}

.right-side {
  display: flex;
  flex: 1 1 60%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}